@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,900&subset=latin,cyrillic);
@import url(//fonts.googleapis.com/css?family=Pacifico&subset=latin,cyrillic);
@import url(//fonts.googleapis.com/css?family=Sanchez:400italic,400&subset=latin,cyrillic);

:focus{
    outline:none;
}
*::-moz-focus-inner {
  border: 0;
}
body {
	background: #f1f3f4 url(../img/pattern.png) repeat;
	font: 14px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	line-height: 1.428571429;
	color: #2e2e2e;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
        outline:none;
}
a[href^="tel:"] {
 color: inherit;
 text-decoration: none;
}
textarea, input[type="text"], input[type="email"], input[type="search"], input[type="password"] {
	-webkit-appearance: none;
	-moz-appearance: caret;
}
p {
	margin-bottom: 18px;
	line-height: 30px;
}
h1.navbar-brand_ {
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	z-index: 1;
	margin-top: 13px;
}
h1.navbar-brand_ a {
	display: block;
}
h2 {
	color: #2e2e2e;
	font: bold 14px/39px 'Open Sans';
	margin: 0 0 4px 0;
	text-transform: uppercase;
}
h3 {
	color: #2e2e2e;
	font: 300 14px/39px 'Open Sans';
	margin: 0 0 7px 0;
	text-transform: uppercase;
}
h3 > span {
	color: #b90101;
	font-size: 24px;
	float: left;
	margin-right: 15px;
	margin-top: 8px;
}
.extra-wrap {
	overflow: hidden;
}
.global {
	padding: 0;
}
.global.indent {
	padding-top: 64px;
}
/*-----menu-----*/
.menuBox {
	padding: 0;
	position: relative;
	z-index: 11;
	float: left;
	margin-bottom: 0;
}
.menuBox.marg {
	margin-bottom: 63px;
}
nav.tm_navbar {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	min-height: 0;
}
nav.tm_navbar li {
	float: left;
	font-size: 14px;
	line-height: 30px;
	padding: 0;
	position: relative;
	margin-right: 12px;
}
nav.tm_navbar li:last-child {
	margin-right: 0;
	padding-right: 0;
}
nav.tm_navbar li a {
	position: relative;
	padding: 29px 17px 11px 16px;
	text-transform: none;
	font: 14px 'Open Sans';
	color: #ffffff;
	background: transparent;
	letter-spacing: -1px;
	line-height: 22px;
	float: left;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
nav.tm_navbar li.active > a {
	color: #2e2e2e;
	background: #f1f1f1;
}
nav.tm_navbar li > a:hover {
	color: #ffffff;
	background: #b90101;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
nav.tm_navbar .sfHover > a {
	color: #2e2e2e;
	background: #f1f1f1;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
nav.tm_navbar li a span {
	height: 4px;
	background: url(../img/menu-marker.png) center 0 no-repeat;
	width: 100%;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 7px;
}
/*-----subMenu1-----*/
nav.tm_navbar .sub-menu > ul {
	position: absolute;
	display: none;
	width: 138px;
	left: 0;
	top: 62px;
	list-style: none !important;
	zoom: 1;
	z-index: 11;
	background: #f1f1f1;
	padding: 13px 0 13px 0;
	margin: 0;
}
nav.tm_navbar .sub-menu > ul li {
	background: none;
	border: none;
	width: auto;
	float: none;
	margin: 0;
	padding: 0;
	display: block;
	text-align: left;
}
nav.tm_navbar .sub-menu > ul li a {
	background: none;
	padding: 0 0 0 0;
	margin: 0;
	display: block;
	padding: 7px 0;
	float: none;
	padding-left: 29px;
	letter-spacing: -1px;
	font: 12px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	color: #2e2e2e;
	background: transparent;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
nav.tm_navbar .sub-menu > ul li span {
	display: inline-block;
	background: url(../img/menu-marker2.png) no-repeat;
	width: 6px;
	height: 5px;
	position: absolute;
	right: 13px;
	top: 12px;
}
nav.tm_navbar .sub-menu > ul li a:hover {
	text-decoration: none;
	color: #ffffff !important;
	background: #B90101 !important;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
nav.tm_navbar .sub-menu > ul li.sfHover > a {
	text-decoration: none;
	color: #ffffff !important;
	background: #B90101 !important;
}
/*-----subMenu2-----*/
nav.tm_navbar .sub-menu ul ul {
	position: absolute;
	display: none;
	width: 138px;
	left: 140px;
	top: -14px;
	list-style: none !important;
	zoom: 1;
	z-index: 11;
	background: #f1f1f1;
	padding: 13px 0 13px 0;
	margin: 0;
}
nav.tm_navbar .sub-menu ul ul li {
	background: none;
	border: none;
	width: auto;
	float: none;
	margin: 0;
	padding: 0;
	display: block;
	text-align: left;
}
nav.tm_navbar .sub-menu ul ul li a {
	background: none;
	padding: 0 0 0 0;
	margin: 0;
	display: block;
	padding: 7px 0;
	float: none;
	padding-left: 29px;
	letter-spacing: -1px;
	font: 12px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	color: #2e2e2e;
	background: transparent;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
nav.tm_navbar .sub-menu > ul li > ul li a:hover {
	text-decoration: none;
	color: #ffffff !important;
	background: #B90101 !important;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.select-menu {
	display: none !important;
}
/*-----content-----*/
header {
	padding: 0 20px 13px 20px;
	margin-bottom: 25px;
	background: #000000;
}
.head_list {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
	margin-top: 25px;
}
.head_list li {
	float: left;
	margin-left: 11px;
	line-height: 30px;
}
.head_list li a {
	font: 14px 'Open Sans';
	color: #2e2e2e;
	padding: 5px 10px 6px 10px;
	background: transparent;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.head_list li a:hover, .head_list li a.active {
	background: #B90101;
	color: #ffffff;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
footer {
	padding: 19px 20px;
	background: #ffffff;
	overflow: hidden;
}
footer p {
	font: 12px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	color: #2e2e2e;
	float: left;
	margin-bottom: 0;
}
footer a {
	font: 12px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	color: #2e2e2e;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
footer a:hover {
	color: #b90101;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
footer em {
	font-style: normal;
}
footer ul {
	padding: 0;
	margin: 0;
	list-style: none;
	float: right;
}
footer ul li {
	overflow: hidden;
	float: left;
	margin-left: 18px;
}
footer ul li a {
	font-size: 18px;
	color: #171717;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
footer ul li a:hover {
	color: #B90101;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.servicesBox {
	overflow: hidden;
	margin-bottom: 48px;
	border-bottom: 1px solid #d1d7bb;
	padding: 0 0 59px 0;
}
.aboutBox {
	position: relative;
}
.aboutBox:after {
	width: 1px;
	height: 100%;
	background: none;
	background: #d1d7bb;
	position: absolute;
	z-index: 1;
	display: inline-block;
	top: 0;
	right: -49px;
	content: ' ';
	z-index: 10;
}
.newsBox {
	margin-bottom: 57px;
	position: relative;
}
.newsBox time a {
	font: bold 13px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	color: #000000;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 13px;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.newsBox time a:hover {
	color: #819e6f;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.newsBox article {
	margin-bottom: 18px;
}
.newsBox:after {
	width: 1px;
	height: 100%;
	background: none;
	background: #d1d7bb;
	position: absolute;
	z-index: 1;
	display: inline-block;
	top: 0;
	right: -49px;
	content: ' ';
	z-index: 10;
}
.welcomeBox {
	margin-top: -6px;
}
.welcomeBox hr {
	border-top: none;
	border-bottom: 1px solid #ebeced;
	margin: 27px 0 65px 0;
}
.opportunitiesBox p {
	margin-bottom: 26px;
}
.opportunitiesBox .title {
	font: 15px 'Open Sans';
	color: #3e454c;
	margin-bottom: 15px;
}
.opportunitiesBox h2 {
	margin: 0 0 -6px 0;
}
.testimonialsBox {
	margin-bottom: 30px;
}
.libBox > a {
	font: 300 12px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	color: #2e2e2e;
	float: right;
	position: absolute;
	top: 10px;
	right: 15px;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.libBox > a:hover {
	color: #D96565;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.locationBox {
	margin-bottom: 25px;
}
.locationBox p {
	font-size: 11px;
	font-weight: 300;
	line-height: 18px;
}
/*-----carousel-----*/
.list_carousel1.responsive {
	width: auto;
	margin: 0;
	padding: 13px 0 23px 0;
	background: #ffffff;
	margin-top: 13px;
	margin-bottom: 20px;
}
.list_carousel1.responsive h2 {
	text-transform: none;
	width: 100%;
	text-align: center;
	margin: 0 0 6px 0;
}
.list_carousel1 #foo1 {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	cursor: default;
}
.list_carousel1 #foo1 > li {
	padding: 0;
	float: left;
	cursor: default;
	margin-right: 0;
	text-align: center;
	padding: 0 110px;
}
.list_carousel1 #foo1 > li p {
	font: italic 14px/24px 'Sanchez';
	color: #2e2e2e;
	margin-bottom: 9px;
}
.list_carousel1 #foo1 > li em {
	display: inline-block;
	width: 20px;
	height: 14px;
	background: url(../img/quote_right.png) no-repeat;
	margin-left: 9px;
}
.list_carousel1 #foo1 > li span {
	display: inline-block;
	width: 20px;
	height: 14px;
	background: url(../img/quote_left.png) no-repeat;
	margin-right: 9px;
}
.list_carousel1 #foo1 > li strong {
	font: bold 12px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	color: #D96565;
	position: relative;
	top: -2px;
	margin-left: 7px;
}
.list_carousel1.responsive .caroufredsel_wrapper {
	cursor: default !important;
}
.carousel-box {
	padding-top: 48px;
	margin-bottom: 65px;
}
.foo-btn {
	position: relative;
	top: 0;
	text-align: center;
	padding: 0;
}
.pagination {
	position: relative;
	margin: 0;
	padding: 0;
	border-radius: 0;
}
.pagination a {
	position: relative;
	z-index: 1;
	width: 10px;
	height: 10px;
	padding: 0 !important;
	margin: 0 0 0 9px;
	display: inline-block;
	background: #f1f1f1 !important;
	border: 1px solid #030303 !important;
	border-radius: 8px;
	cursor: pointer;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.pagination a:first-child {
	margin-left: 0;
}
.pagination a:hover {
	background: #313131 !important;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.pagination a.selected {
	background: #313131 !important;
}
.pagination a span {
	display: none;
}
.clientBox {
	background: #edf3f3;
	padding-top: 21px;
	padding-bottom: 21px;
	border-bottom: 4px solid #d5dada;
}
.clientBox .title {
	font: 900 14px 'Roboto';
	color: #535b60;
	text-transform: uppercase;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
}
.moreBox {
	text-align: center;
	padding-top: 73px;
	margin-bottom: 83px;
}
.moreBox hr {
	margin: 82px 0 0 0;
	border-color: #e1e3e5;
}
.moreBox p {
	font: 80px 'Sail';
	color: #414141;
	letter-spacing: -4px;
	margin-bottom: 16px;
}
.allBox {
	margin-bottom: 85px;
}
.allBox h2 {
	margin-bottom: 27px;
}
.who-box h3 {
	margin-bottom: 10px;
}
.history-box h3 {
	margin-bottom: 31px;
}
.trainers-box h3 {
	margin-bottom: 17px;
}
.overviewBox h3 {
	margin: 0 0 26px 0;
}
.testimBox {
	margin-top: 40px;
	padding-bottom: 91px;
}
.testimBox h2 {
	margin: 0 0 27px 0;
}
.testimBox img {
	float: left;
	margin-right: 0;
}
.testimBox p {
	font-style: italic;
	margin-bottom: 13px;
}
.testimBox span {
	color: #b0b0b0;
	font: 10px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	display: block;
	text-transform: uppercase;
}
.testimBox em {
	height: 6px;
	width: 100%;
	background: #c5c5c5;
	position: absolute;
	top: 0;
	left: 0;
}
.testimBox article div {
	overflow: hidden;
	padding-top: 8px;
}
.testimBox a {
	color: #2d2d2d;
	font: bold 24px/24px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	display: inline-block;
	text-transform: uppercase;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.testimBox a:hover {
	color: #f4cc6c;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.videoBox p {
	font-size: 10px;
	color: #b0b0b0;
	text-transform: uppercase;
	margin-bottom: 48px;
}
.videoBox .title {
	margin: 0;
	color: #2d2d2d;
	font: bold 24px/20px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
}
.packagesBox {
	background: #fcfcfc url(../img/page3_pic2.jpg) no-repeat;
	padding: 25px 26px 22px 0;
	border: 1px solid #e8e8e8;
	overflow: hidden;
}
.packagesBox h3 {
	color: #2d2d2d;
	margin: 0 0 17px 0;
	font-size: 20px;
	line-height: 22px;
}
.packagesBox div {
	float: right;
}
.privacyBox {
	padding-bottom: 30px;
}
.error-box {
	padding-bottom: 91px;
}
.errorBox {
	margin-bottom: 40px;
	padding-top: 100px;
	text-align: center;
}
.errorBox figure {
	margin: 0;
}
.errorBox1 {
	margin-top: 65px;
}
.errorBox1 h2 {
	line-height: 30px;
	margin: 0 0 35px 0;
}
.formBox {
	padding-top: 0;
	padding-bottom: 0;
}
.searchBox {
	padding-bottom: 60px;
}
#toTop {
	display: none;
	width: 24px;
	height: 24px;
	background: url(../img/top.png) no-repeat;
	position: fixed;
	margin-right: -640px !important;
	right: 50%;
	bottom: 120px;
	z-index: 999;
	opacity: 1;
}
#toTop:hover {
	background: url(../img/top.png) no-repeat;
	opacity: 0.55;
}
.servBox {
	padding-bottom: 61px;
}
.logosBox {
	margin-top: 2px;
	margin-bottom: 61px;
}
.logosBox ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.logosBox ul li {
	float: left;
	border-right: 1px solid #dcdddd;
}
.logosBox ul li img {
	width: 100%;
}
.logosBox ul li:last-child {
	border-right: none;
}
.trainerBox a {
	opacity: 1;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.trainerBox a:hover {
	opacity: 0.8;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.trainerBox {
	margin-bottom: 15px;
	padding-top: 10px;
}
.trainerBox figure {
	margin: 0;
}
.trainerBox figure img {
	width: 100%;
}
.trainerBox a {
	opacity: 1;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.trainerBox a:hover {
	opacity: 0.8;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.classesBox {
	padding-top: 76px;
	background: url(../img/pattern.png) repeat;
	padding-bottom: 98px;
}
.hundredBox {
	margin-top: 30px;
}
.hundredBox strong {
	font: bold 60px/47px 'Open Sans';
	color: #ffffff;
	margin-bottom: 0;
	display: block;
}
.hundredBox p {
	font: 600 24px/29px 'Open Sans';
	color: #ffffff;
}
.projectBox {
	padding: 0;
	background: url(../img/pattern.png) repeat;
}
.projectBox article > .caption {
	margin: 0;
	padding: 0;
	background: #ffffff;
	position: relative;
	margin-bottom: 89px;
	overflow: hidden;
}
.projectBox .lnk {
	position: absolute;
	top: 42px;
	background: #ffffff;
	text-align: right;
	width: 77px;
	height: 77px;
	border-radius: 77px;
	right: -92px;
	padding-top: 24px;
	padding-right: 22px;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.projectBox .lnk:hover {
	background: rgba(255, 255, 255, 0.5);
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.projectBox .box1 {
	width: 630px;
	text-align: right;
	padding: 47px 0 0 50px;
	float: left;
	position: relative;
}
.projectBox .box1 .title1 {
	font: 48px 'Cabin';
	color: #278f94;
	margin-bottom: 27px;
}
.projectBox .box1 .title2 {
	font: 14px/22px 'Open Sans';
	color: #7d7d7d;
}
.projectBox figure {
	margin: 0;
	float: right;
}
/*-----thumbs-----*/
.pad1Box {
	background: #f8f8f8;
	padding: 62px 0 61px 0;
	position: relative;
}
.pad1Box em {
	display: inline-block;
	width: 100%;
	height: 17px;
	position: absolute;
	top: 0;
	left: 0;
}
.teamBox {
	margin-top: -10px;
}
.teamBox .thumb-pad1 .thumbnail .caption {
	text-align: left;
	padding-left: 13px;
}
.teamBox .thumb-pad1 .thumbnail .caption a {
	margin-bottom: 18px;
	display: inline-block;
}
.teamBox .thumb-pad1 .thumbnail figure {
	margin-bottom: 22px;
}
.advantageBox {
	margin-top: -16px;
}
.galleryBox .thumb-pad1 .thumbnail .caption {
	text-align: center;
	padding-left: 13px;
}
.galleryBox .thumb-pad1 .thumbnail .caption a {
	margin-bottom: 18px;
	display: inline-block;
}
.galleryBox .thumb-pad1 .thumbnail figure {
	margin-bottom: 22px;
}
.galleryBox .thumb-pad1 {
	margin-bottom: 30px;
}
.teamBox .thumb-pad1 {
	margin-bottom: 30px;
}
.thumb-pad1 {
	overflow: hidden;
	padding: 6px 6px 17px 6px;
	margin-bottom: 30px;
	background: #ffffff;
	-webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.thumb-pad1 strong {
	position: absolute;
	z-index: 1;
	display: inline-block;
	top: -13px;
	right: 5px;
	padding-top: 16px;
	width: 49px;
	height: 49px;
	background: #D96565;
	border-radius: 49px;
	text-align: center;
	font: 12px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	color: #ffffff;
	text-transform: uppercase;
}
.thumb-pad1:hover {
/*	background: #f0f3f3;*/
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.thumb-pad1 .thumbnail {
	position: relative;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	overflow: hidden;
         /*height: 560px;*/
}
.thumb-pad1 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
	color: #2e2e2e;
	text-align: center;
}
.thumb-pad1 .thumbnail .caption a {
	font: 300 14px 'Open Sans';
	color: #2e2e2e;
}
.thumb-pad1 .thumbnail .caption a:hover {
	color: #b90101;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.thumb-pad1 .thumbnail .caption hr {
	margin: 0;
	border-color: #171717;
	width: 27px;
	position: relative;
	top: -10px;
	display: inline-block;
}
.thumb-pad1 .thumbnail .caption p {
	margin-top: -5px;
	margin-bottom: 0;
}
.thumb-pad1 .thumbnail figure {
	margin-bottom: 17px;
}
.thumb-pad1 .thumbnail figure img {
	/*width: 100%;*/
        min-height: 243px;
        max-width: 269px;
        min-width: 200px;
}
.thumb-pad1 .thumbnail figure a {
	display: block;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.thumb-pad1 .thumbnail figure a:hover {
	/*opacity: 0.8;*/
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.eventsBox h2 {
	margin-bottom: 8px;
}
.eventsBox > a {
	font: 300 12px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	color: #2e2e2e;
	float: right;
	position: absolute;
	top: 10px;
	right: 15px;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.eventsBox > a:hover {
	color: #D96565;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.thumb-pad2 {
	overflow: hidden;
	padding: 6px 6px 31px 6px;
	margin-bottom: 39px;
	background: #ffffff;
	-webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
}
.thumb-pad2 > strong {
	position: absolute;
	z-index: 1;
	display: inline-block;
	top: -13px;
	right: 5px;
	padding-top: 16px;
	width: 49px;
	height: 49px;
	background: #D96565;
	border-radius: 49px;
	text-align: center;
	font: 12px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	color: #ffffff;
	text-transform: uppercase;
}
.thumb-pad2 .thumbnail {
	position: relative;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	overflow: hidden;
}
.thumb-pad2 .thumbnail .caption {
	padding: 0 0 0 13px;
	overflow: hidden;
	color: #2e2e2e;
}
.thumb-pad2 .thumbnail .caption a {
	font: 300 14px 'Open Sans';
	color: #2e2e2e;
}
.thumb-pad2 .thumbnail .caption a:hover {
	color: #B90101;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.thumb-pad2 .thumbnail .caption hr {
	margin: 0;
	border-color: #171717;
	width: 27px;
	position: relative;
	top: -10px;
	display: inline-block;
}
.thumb-pad2 .thumbnail .caption p {
	margin-bottom: 0;
	font-size: 12px;
	line-height: 18px;
}
.thumb-pad2 .thumbnail .caption .tl {
	font-size: 14px;
}
.thumb-pad2 .thumbnail .caption .title {
	margin-top: -9px;
}
.thumb-pad2 .thumbnail .caption .title strong {
	font-weight: 900;
}
.thumb-pad2 .thumbnail figure {
	margin-bottom: 14px;
}
.thumb-pad2 .thumbnail figure img {
	width: 100%;
}
.thumb-pad3 {
	overflow: hidden;
	padding: 6px;
	margin-bottom: 20px;
	background: #ffffff;
	-webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
}
.thumb-pad3 strong {
	position: absolute;
	z-index: 1;
	display: inline-block;
	top: -13px;
	right: 5px;
	padding-top: 16px;
	width: 49px;
	height: 49px;
	background: #D96565;
	border-radius: 49px;
	text-align: center;
	font: 12px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	color: #ffffff;
	text-transform: uppercase;
}
.thumb-pad3 .thumbnail {
	position: relative;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	overflow: hidden;
}
.thumb-pad3 .thumbnail .caption {
	padding: 16px 0 0 0;
	overflow: hidden;
	color: #2e2e2e;
}
.thumb-pad3 .thumbnail .caption .lnk {
	font: 300 14px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	color: #2e2e2e;
	display: inline-block;
	margin-bottom: 13px;
}
.thumb-pad3 .thumbnail .caption .lnk:hover {
	color: #B90101;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.thumb-pad3 .thumbnail figure {
	float: left;
	margin-right: 20px;
}
.thumb-pad3 .thumbnail figure img {
	width: 100%;
}
.thumb-pad3 .thumbnail figure a {
	display: block;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.thumb-pad3 .thumbnail figure a:hover {
	opacity: 0.8;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.thumb-pad4 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
}
.thumb-pad4 .thumbnail .caption {
	padding: 0;
	color: #2e2e2e;
	overflow: hidden;
}
.thumb-pad4 .thumbnail .caption p {
	margin-bottom: 13px;
}
.thumb-pad4 figure {
	margin: 0;
	margin-bottom: 11px;
}
.thumb-pad4 figure img {
	width: 100%;
}
.thumb-pad5 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
}
.thumb-pad5 figure {
	margin: 0;
	float: left;
	margin-right: 20px;
}
.thumb-pad5 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
	color: #2e2e2e;
}
.thumb-pad5 .thumbnail .caption p {
	margin-bottom: 24px;
}
.thumb-pad5 .thumbnail .caption a {
	color: #2e2e2e;
	font: bold 14px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	display: inline-block;
	margin-bottom: 7px;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.thumb-pad5 .thumbnail .caption a:hover {
	color: #B90101;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.thumb-pad5 .thumbnail .caption .title1 {
	font: 24px 'Pacifico';
	color: #2e2e2e;
	text-align: right;
	margin-bottom: 0;
}
.thumb-pad5 .thumbnail .caption .title2 {
	float: right;
	margin-top: -6px;
}
.thumb-pad6 {
	margin-bottom: 46px;
	padding-bottom: 48px;
	border-bottom: 1px solid #d6d5d5;
}
.thumb-pad6 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
}
.thumb-pad6 .thumbnail .badgeBox {
	overflow: hidden;
	margin-bottom: 17px;
}
.thumb-pad6 .thumbnail .badgeBox .badge {
	padding: 0;
	margin: 0;
	box-shadow: none;
	text-shadow: none;
	border: none;
	border-radius: 0;
	background: none;
	width: 70px;
	font: 300 66px/55px 'Open Sans';
	color: #333745;
	text-align: center;
	float: left;
	margin-right: 30px;
}
.thumb-pad6 .thumbnail .badgeBox .badge span {
	font-size: 25px;
	text-transform: uppercase;
	display: block;
}
.thumb-pad6 .thumbnail .badgeBox p {
	line-height: 20px;
}
.thumb-pad6 .thumbnail .badgeBox p > .lnk {
	font: 14px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	color: #2e2e2e;
	text-transform: none;
}
.thumb-pad6 .thumbnail .badgeBox p > .lnk:hover {
	color: #ffd64f;
}
.thumb-pad6 .thumbnail .badgeBox p br {
	display: none;
}
.thumb-pad6 .thumbnail .badgeBox .extra-wrap {
	padding-top: 19px;
}
.thumb-pad6 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
	color: #2e2e2e;
}
.thumb-pad6 .thumbnail .caption p {
	margin-bottom: 23px;
}
.thumb-pad6 figure {
	position: relative;
	z-index: 1;
	margin: 0;
	float: left;
	margin-right: 31px;
}
.thumb-pad6 figure > img {
	width: 100%;
}
.thumb-pad6 .thumbnail .badgeBox a {
	color: #272727;
	font: 16px/22px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	margin: 0;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.thumb-pad6 .thumbnail .badgeBox a:hover {
	color: #6c9295;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.thumb-pad6 .thumbnail .badgeBox a.tl {
	color: #ffd64f;
	font: 300 20px/25px 'Open Sans';
	margin: 0 0 14px 0;
	display: inline-block;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.galleryBox {
	margin-bottom: 70px;
	overflow: hidden;
}
.thumb-pad9 {
	padding-bottom: 30px;
	overflow: hidden;
}
.thumb-pad9:hover .thumbnail {
	background: #ffd64f;
	border-color: #ffd64f;
}
.thumb-pad9:hover .caption p {
	color: #ffffff;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.thumb-pad9:hover .caption a {
	color: #ffffff !important;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.thumb-pad9 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	overflow: hidden;
	padding: 30px 30px 18px 30px;
	background: #ffffff;
	border: 1px solid #ebeced;
}
.thumb-pad9 figure {
	margin: 0;
	margin-bottom: 24px;
}
.thumb-pad9 figure img {
	width: 100%;
}
.thumb-pad9 .thumbnail .caption {
	padding: 0;
	color: #2e2e2e;
}
.thumb-pad9 .thumbnail .caption p {
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.thumb-pad9 .thumbnail .caption a {
	font: 15px 'Open Sans';
	color: #3e454c;
	display: inline-block;
	margin-bottom: 12px;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.thumb-pad9 .thumbnail .caption a:hover {
	text-decoration: underline;
}
.thumb-pad10 {
	overflow: hidden;
	margin-bottom: 37px;
}
.thumb-pad10 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
	overflow: hidden;
}
.thumb-pad10 figure {
	margin: 0;
	float: left;
	margin-right: 35px;
}
.thumb-pad10 figure img {
	width: 100%;
}
.thumb-pad10 .thumbnail .caption {
	padding: 0;
	color: #2e2e2e;
	overflow: hidden;
}
.thumb-pad10 .thumbnail .caption time {
	font: 16px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	color: #a2c9c2;
	display: block;
}
.thumb-pad10 .thumbnail .caption a {
	color: #383838;
	font: 16px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	display: inline-block;
	margin-bottom: 20px;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.thumb-pad10 .thumbnail .caption a:hover {
	color: #a2c9c2;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
/*-----btn-----*/
.btn-default.btn1, #contact-form .btn-default.btn1, .lustruu{
	box-shadow: none;
	position: relative;
	padding: 6px 14px;
	font: 14px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	margin: 0;
	letter-spacing: 0;
	text-shadow: none;
	color: #ffffff;
	border: none;
	background: #D96565;
	text-decoration: none;
	letter-spacing: -1px;
	display: inline-block;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn-default.btn1{
    background: none repeat scroll 0 0 #D96565;
}
#contact-form input.btn-default.btn1{
    width:auto;
}
.btn-default.btn1:hover, .lustruu:hover {
	color: #D96565;
	background: #ffffff;
	text-decoration: none !important;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn-default.btn2 {
	box-shadow: none;
	position: relative;
	padding: 5px 17px;
	font: 13px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	margin: 0;
	letter-spacing: 0;
	text-shadow: none;
	color: #ffffff;
	border: none;
	background: #819e6f;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn-default.btn2:hover {
	color: #819e6f;
	background: #fefcef;
	text-decoration: none !important;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn3 {
	box-shadow: none;
	position: relative;
	text-decoration: none !important;
	padding: 0;
	font: bold 12px 'Cabin';
	margin: 0;
	letter-spacing: 0;
	text-shadow: none;
	color: #ffffff;
	border: none;
	border-radius: 0 0 5px 5px;
	padding: 15px 23px 16px 24px;
	text-transform: uppercase;
	background: #6c9295;
	display: inline-block;
	margin-top: -1px;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn3:hover {
	color: #ffffff;
	background: #ff5d40;
	text-decoration: none !important;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn-default.btn4 {
	box-shadow: none;
	position: relative;
	text-decoration: none !important;
	padding: 4px 35px;
	border: none;
	font: 600 24px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 0;
	text-shadow: none;
	color: #ffffff;
	background: #a2c9c2;
	display: inline-block;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.btn-default.btn4:hover {
	color: #6c9295;
	background: #e9e9e9 !important;
	text-decoration: none !important;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
/*-----list-----*/
.events-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.events-list li {
	margin-bottom: 43px;
}
.events-list li time a {
	font: bold 13px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	color: #000000;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 13px;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.events-list li time a:hover {
	color: #819e6f;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list1Box .list1 {
	margin-bottom: 10px;
	margin-top: -5px;
}
.list1 {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	margin-bottom: 5px;
	margin-top: -10px;
}
.list1 li {
	font-size: 14px;
	line-height: 1.428571429;
	overflow: hidden;
	margin-bottom: 11px;
	padding-left: 21px;
	background: url(../img/list_point.png) left 6px no-repeat;
}
.list1 li a {
	font: 14px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	color: #2e2e2e;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list1 li a:hover {
	color: #B90101;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list2 {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	margin-bottom: 5px;
}
.list2 li {
	font-size: 14px;
	line-height: 1.428571429;
	overflow: hidden;
	border-bottom: 1px solid #dadcdd;
	padding-bottom: 8px;
	margin-bottom: 7px;
}
.list2 li a.active, .list2 li span {
        color: #b90101;
}
.list2 li a {
	font: 14px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 300;
	color: #2e2e2e;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list2 li a:hover {
	color: #b90101;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list2 li:last-child {
	border-bottom: none;
}
.list3 {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: -10px;
}
.list3 li {
	font-size: 13px;
	line-height: 30px;
	margin-bottom: 1px;
	margin-top: 0;
}
.list3 li time {
	font: 900 12px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	color: #2e2e2e;
	float: left;
	margin-right: 5px;
	margin-top: 6px;
}
.list3 li p {
	margin: 0;
}
.list3-1 {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	margin-top: -10px;
}
.list3-1 li {
	font-size: 14px;
	line-height: 1.428571429;
	overflow: hidden;
	margin-bottom: 11px;
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 10px;
}
.list3-1 li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}
.list3-1 li > img {
	float: left;
	margin-right: 13px;
	margin-top: 9px;
}
.list3-1 li p {
	margin-bottom: 0;
}
.list4 {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 48px;
	padding-bottom: 13px;
	margin-top: -3px;
	border-bottom: 1px solid #d1d7bb;
}
.list4 li {
	font-size: 14px;
	line-height: 1.428571429;
	overflow: hidden;
	margin-bottom: 30px;
}
.list4 li .badge {
	padding: 0;
	margin: 0;
	border-radius: 51px;
	box-shadow: none;
	text-shadow: none;
	font: 30px 'Six Caps';
	text-align: center;
	color: #ffffff;
	background: url(../img/pattern.png) repeat;
	width: 51px;
	height: 51px;
	float: left;
	margin-right: 29px;
	margin-top: 3px;
	padding-top: 6px;
}
.list4 li a {
	font: bold 13px/18px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	color: #000000;
	margin-bottom: 6px;
	display: inline-block;
	text-transform: uppercase;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list4 li a:hover {
	color: #819e6f;
	text-decoration: none;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list5 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list5 li {
	font-size: 14px;
	line-height: 30px;
	margin-bottom: 32px;
}
.list5 li .title {
	color: #000000;
	text-transform: uppercase;
}
.list5 li a {
	text-decoration: underline;
	color: #2e2e2e;
}
.list5 li a:hover {
	text-decoration: none;
}
.list5 li img {
	float: left;
	margin-right: 17px;
}
.list6 {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-top: 6px;
}
.list6 li {
	font-size: 14px;
	line-height: 1.428571429;
	margin-bottom: 25px;
}
.list6 li p {
	margin-bottom: 0;
}
.list6 li a {
	color: #2d2d2d;
	font: bold 24px/26px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 9px;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list6 li a:hover {
	color: #f4cc6c;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list6 li .badge {
	padding: 0;
	margin: 0;
	box-shadow: none;
	text-shadow: none;
	font: 30px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	color: #ffffff;
	background: #f4cc6c;
	width: 52px;
	height: 53px;
	border-radius: 0;
	float: left;
	margin-right: 16px;
	padding-top: 7px;
	margin-top: 4px;
}
.list8 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list8 li {
	font-size: 14px;
	line-height: 30px;
	margin-bottom: 18px;
}
.list8 li p {
	margin-bottom: 0;
}
.list9 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list9 li {
	font-size: 14px;
	line-height: 30px;
	margin-bottom: 30px;
}
.list9 li p {
	margin-bottom: 0;
}
/*-----search-----*/
#search-404 {
	position: relative;
	margin: 0;
	margin-top: 17px;
	overflow: hidden;
}
#search-404 a {
	position: absolute;
	top: 10px;
	right: 10px;
}
#search-404 input {
	position: relative;
	box-shadow: none;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 0;
	width: 100%;
	outline: none;
	border: 1px solid #ffffff;
	background: #ffffff;
	font: 14px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	line-height: 18px;
	color: #2e2e2e;
	padding: 11px 14px 11px 14px;
	height: 42px;
	resize: none;
}
#search-404 a {
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
#search-404 a:hover {
	opacity: 0.5;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
#search {
	margin: 48px 0 0 0;
	position: relative;
	display: block;
	margin-bottom: 23px;
}
#search input {
	box-shadow: none;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: none;
	margin: 0;
	outline: none;
	border: none;
	font: 300 14px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	line-height: 18px;
	color: #2e2e2e;
	background: #ffffff;
	height: 40px;
	width: 100%;
	padding: 10px 35px 10px 15px;
	resize: none;
}
#search a {
	position: absolute;
	top: 1px;
	right: 5px;
	opacity: 1;
	padding: 8px;
	-webkit-transition: all 0.35s ease-out;
	transition: all 0.35s ease-out;
}
#search a:hover {
	opacity: 0.5;
	-webkit-transition: all 0.35s ease-out;
	transition: all 0.35s ease-out;
}
/*-----map-----*/
.map {
	margin: 13px 0 16px 0;
	display: inline-block;
	width: 100%;
	line-height: 0;
}
.map iframe {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 593px;
	border: none;
	line-height: 0;
}
.info p {
	margin-bottom: 0;
}
.info p span {
	display: inline-block;
	width: 100px;
}
.info p a {
	color: #2e2e2e;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.info p a:hover {
	color: #D96565;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
/*-----form-----*/
.contactBox2 {
	margin-bottom: 22px;
}
#contact-form {
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-top: 7px;
}
#contact-form label {
	position: relative;
	display: block;
	min-height: 50px;
	margin: 0;
	font-weight: normal;
	font: 14px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	line-height: 18px;
	color: #2e2e2e;
}
#contact-form label span {
	margin-bottom: 2px;
	display: block;
	color: #2e2e2e;
}
#contact-form .holder {
	overflow: hidden;
}
.form-div-1, .form-div-2, .form-div-3 {
	float: left;
	width: 249px;
	margin-right: 10px;
}
.form-div-3 {
	margin-right: 0;
}
#contact-form span {
	display: block;
}
#contact-form ._placeholder {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: text;
	padding: 11px 14px 11px 14px;
	border-radius: 0;
	display: block;
}
#contact-form ._placeholder.focused {
	opacity: 0;
	filter: alpha(opacity=0);
	box-shadow: none;
}
#contact-form ._placeholder.hidden {
	display: none;
}
#contact-form input.file{
    height: auto;
}
#contact-form input, #contact-form textarea, #contact-form select {
	box-shadow: none;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 0;
	width: 100%;
	outline: none;
	border: 1px solid #ffffff;
	background: #ffffff;
	font: 14px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	line-height: 18px;
	color: #2e2e2e;
	padding: 11px 14px 11px 14px;
	height: 42px;
	resize: none;
}
#contact-form textarea {
	height: 342px;
	margin-bottom: 20px;
}
#contact-form .error-message, #contact-form .empty-message {
	height: 0;
	overflow: hidden;
	font: 10px 'Arial';
	color: #2e2e2e;
	-webkit-transition: 0.3s ease-in height;
	transition: 0.3s ease-in height;
	position: absolute;
	right: 5px;
	top: 2px;
}
#contact-form .invalid .error-message, #contact-form .empty .empty-message {
	height: 20px;
}
#contact-form .success-message {
	line-height: 48px;
	position: absolute;
	overflow: hidden;
	height: 0;
	left: 0;
	top: 0;
	box-sizing: border-box;
	box-shadow: none;
	border-radius: 0;
	background: #fff;
	z-index: 10;
	width: 100%;
	text-align: center;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	padding: 0;
}
#contact-form.success .success-message {
	box-shadow: none;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 0;
	width: 100%;
	outline: none;
	border: 1px solid #ffffff;
	background: #ffffff;
	font: 14px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	line-height: 18px;
	color: #2e2e2e;
	padding: 11px 14px 11px 14px;
	height: 42px;
	resize: none;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.btns .btn1 {
	float: left;
}
.btns p {
	float: left;
	margin-left: 23px;
}
.mail {
	text-decoration: none;
	font-size: 14px;
	color: #2e2e2e;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.mail:hover {
	color: #B90101;
	text-decoration: none;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
/*------------------------------------------------------media queries---------------------------------------------------------*/
@media (min-width: 1220px) {
 .container {
 padding: 0;
}
 .thumb-pad4 {
 padding-right: 30px;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1219px) {
 header {
 text-align: center;
}
 h1.navbar-brand_ {
 float: none;
 margin-right: 0;
 display: block;
 margin-bottom: 30px;
}
 .menuBox {
 float: none;
 display: inline-block;
}
 nav.tm_navbar li a {
 padding: 11px 15px 11px 15px;
}
 .head_list {
 display: block;
 float: none;
}
 .head_list li {
 float: none;
 display: inline-block;
}
 .form-div-1, .form-div-2, .form-div-3 {
 width: 100%;
 float: none;
 margin-right: 0;
}
 #contact-form label {
 min-height: 57px;
}
 .errorBox > img {
 width: 100%;
}
 .errorBox figure img {
 width: 100%;
}
 .opportunitiesBox {
 margin-top: 50px;
}
 .teamBox {
 margin-top: 30px;
 margin-bottom: 30px;
}
 .list1Box {
 margin-top: 30px;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
 .list6 li a {
 font-size: 14px;
 line-height: 20px;
}
 .list4 li .badge {
 margin-bottom: 7px;
 float: none;
 margin-right: 0;
}
 .form-div-1, .form-div-2, .form-div-3 {
 width: 100%;
 float: none;
 margin-right: 0;
}
 #contact-form label {
 min-height: 57px;
}
 .thumb-pad2-1 .badge {
 float: none;
 margin-right: 0;
 width: 100%;
 margin-bottom: 10px;
}
 .foo-btn {
 right: 30px;
}
 .errorBox img {
 width: 100%;
}
 .list1-3 {
 margin-left: 0;
}
 .thumb-pad5 figure {
 margin-right: 0;
 width: 100%;
 float: none;
 margin-bottom: 20px;
}
 .thumb-pad3-1 .thumbnail .caption .lnk {
 font-size: 14px;
 line-height: 20px;
}
 .thumb-pad3-1 .thumbnail .caption span {
 font-size: 14px;
 line-height: 20px;
}
 footer .listBox > div {
 padding-right: 0;
}
 .thumb-pad3 figure {
 float: none;
 margin-right: 0;
 margin-bottom: 15px;
}
 .thumb-pad3 figure img {
 width: 100%;
}
 .thumb-pad6 figure {
 float: none;
 margin-right: 0;
 margin-bottom: 15px;
}
 .errorBox figure img {
 width: 100%;
}
 .opportunitiesBox {
 margin-top: 50px;
}
 .teamBox {
 margin-top: 30px;
 margin-bottom: 30px;
}
 .testimonials-box {
 margin-top: 50px;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 767px) {
 header {
 text-align: center;
}
 h1.navbar-brand_ {
 float: none;
 margin-right: 0;
 display: block;
 margin-bottom: 30px;
}
 .menuBox {
 float: none;
 display: block;
}
 nav.tm_navbar li a {
 padding: 11px 15px 11px 15px;
}
 .head_list {
 display: block;
 float: none;
 margin-top: 5px;
}
 .head_list li {
 float: none;
 display: inline-block;
}
 .select-menu {
 display: inline-block !important;
 padding-top: 4px;
 padding-right: 3px;
 padding-bottom: 4px;
 width: 100%;
 border: 1px solid #3e454c;
 background: #3e454c;
 color: #ffffff;
 cursor: pointer;
 margin-top: 20px;
 margin-bottom: 30px;
 height: 30px;
 font-size: 12px;
 vertical-align: middle;
}
 .foo_list {
 float: none;
}
 .errorBox {
 text-align: center;
}
 .list6 li a {
 font-size: 14px;
 line-height: 20px;
}
 .thumb-pad3-1 .thumbnail .caption .lnk {
 font-size: 14px;
 line-height: 20px;
}
 .thumb-pad3-1 .thumbnail .caption span {
 font-size: 14px;
 line-height: 20px;
}
 nav.tm_navbar {
 float: none;
 display: inline-block;
 width: 100%;
 padding: 0;
 margin: 0;
}
 nav.tm_navbar .nav {
 display: none;
}
 .list2 {
 margin-bottom: 25px;
}
 .form-div-1, .form-div-2, .form-div-3 {
 width: 100%;
 float: none;
 margin-right: 0;
}
 #contact-form label {
 min-height: 57px;
}
 .map iframe {
 height: 300px;
}
 .error-box {
 padding-bottom: 30px;
}
 .thumb-pad5 .thumbnail .caption {
 overflow: visible;
}
 .thumb-pad5 {
 padding-bottom: 40px;
}
 .thumb-pad1 .thumbnail {
 margin-bottom: 70px;
}
 .thumb-pad4 {
 margin-bottom: 40px;
}
 .thumb-pad4 figure {
 margin-bottom: 0;
 float: left;
 margin-right: 15px;
}
 .thumb-pad4 .caption {
 overflow: visible !important;
}
 .thumb-pad6 figure {
 float: none;
 margin-right: 0;
 margin-bottom: 15px;
}
  /*.errorBox figure img {
    width: 100%;
}*/
  footer p {
 float: none;
 margin-bottom: 20px;
}
 footer {
 text-align: center;
}
 footer ul {
 float: none;
 display: inline-block;
}
 .list_carousel1 #foo1 > li {
 padding: 0 20px;
}
 .opportunitiesBox {
 margin-top: 50px;
}
 .teamBox {
 margin-top: 30px;
 margin-bottom: 30px;
}
 .testimonials-box {
 margin-top: 50px;
}
 .advantage-box {
 margin-bottom: 35px;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 626px) {
 .thumb-pad4 figure {
 margin-bottom: 0;
 float: none;
 margin-right: 0;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 560px) {
 .thumb-pad3 figure {
 float: none;
 margin-right: 0;
 margin-bottom: 15px;
}
 .thumb-pad3 figure img {
 width: 100%;
}
  /*.errorBox img {
    width:100%;
}*/
  .thumb-pad5 .thumbnail .post .posted br {
 display: block;
}
 .thumb-pad5 .thumbnail .post .posted a {
 float: none !important;
}
 .thumb-pad6 .thumbnail .badgeBox p br {
 display: block;
}
 .thumb-pad6 .thumbnail .badgeBox p > .lnk {
 float: none !important;
}
 .thumb-pad3 .thumbnail figure {
 float: none;
 margin-right: 0;
 margin-bottom: 15px;
}
 .thumb-pad3 .thumbnail .caption {
 padding: 16px 0 0 13px;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 480px) {
 h1.navbar-brand_ a img {
 width: 100%;
}
 .libBox article {
 width: 100%;
 float: none;
}
 .thumb-pad5 .thumbnail .badgeBox p br {
 display: block;
}
 .thumb-pad5 .thumbnail .badgeBox p > .lnk {
 float: none !important;
}
 .thumb-pad3 .thumbnail .caption a {
 font-size: 13px;
}
 footer p {
 float: none;
}
 .thumb-pad5 figure {
 float: none;
 margin-right: 0;
 margin-bottom: 15px;
}
 .teamBox article article {
 width: 100%;
 float: none;
}
 .list1Box {
 width: 100%;
 float: left;
}
 .libBox > a {
 position: relative;
 float: none;
 top: 0;
 left: 0;
 right: auto;
 margin-bottom: 15px;
 display: inline-block;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 320px) {
 .thumb-pad2 .thumbnail .caption {
 overflow: visible;
}
 .teamBox article {
 float: none;
 width: 100%;
}
 .teamBox article {
 width: 100%;
 float: none;
}
 .foo-btn {
 right: 0;
}
 .thumb-pad2-1 .badge {
 float: none;
 margin-right: 0;
 width: 100%;
 margin-bottom: 10px;
}
 .thumb-pad5 figure img {
 width: 100%;
}
 .galleryBox article {
 width: 100%;
 float: none;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
.margBot {
	margin-bottom: 10px;
}
.padBot {
	padding-bottom: 45px;
}
/*Core variables and mixins*/
.red-link{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #b90101;
    float: left;
    font: 14px/22px 'Open Sans';
    letter-spacing: -1px;
    padding: 29px 17px 11px 16px;
    position: relative;
    text-transform: none;
    transition: all 0.35s ease 0s;
}
.red-link:hover {
	color: #ffffff;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.numbers{
    width:270px;
    overflow: hidden;
    margin: 0 0 15px 0;
}
.numbers .item{
    text-align: center;
    float:left;
    width:50px;
    height:64px;
    background: #ffffff;
    color:#000000;
    margin: 0 4px 0 0;
    font: 42px/64px 'Open Sans';
}
.numbers .item.first{
    margin:0;
}
.center{
    text-align: center;
}
.round-hover{
    position: absolute;
    z-index: 100;
    width:100%;
    height:243px;
    background: url('../img/photo-round.png') center no-repeat;
}
.round-item{
    position:relative;
    width:251px;
    height:212px;
    /*height:243px;*/
    overflow:hidden;
    text-align: center;
}
.thumb-pad1{
    text-align: center;
}
.maxheight{
    height: 600px;
}
.services{
    float:left;
}
.head_list button, .head_list .dropdown-menu{
    border-radius: 0;
}
.caption p{
    line-height: normal;
}
.authorize{
    width: 330px;
}
.pager li > a, .pager li > span{
    border-radius: 0;
    color: #2E2E2E;
}
.pager li > a.active, .pager li > span.active{
/*    background: #b90101;*/
    color: #b90101;
}
.thumb-pad1 .thumbnail .caption a.lustruu{
    color:#ffffff;
}
.thumb-pad1 .thumbnail .caption a.lustruu:hover{
    color:#B90101;
}
.lustruu{
        color:#ffffff;
        text-align: center;
	box-shadow: none;
        width: 192px;
        height: 39px;
	position: relative;
	padding: 6px 14px;
	font: 18px 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	margin: 0;
	letter-spacing: 0;
	text-shadow: none;
	color: #ffffff;
	border: none;
	background: #d96565;
	text-decoration: none;
	letter-spacing: -1px;
	display: inline-block;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.lustruu:hover {
	color: #d96565;
	background: #ffffff;
	text-decoration: none !important;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.lustra.thumb-pad1{
    position: relative;
    overflow: visible;
}
.count-round{
    font: 11px 'Open Sans';
    color: #ffffff;
    width: 51px;
    height: 51px;
    background: url(../img/count.png) no-repeat center;
    position: absolute;
    top: -15px;
    right: -12px;
    z-index: 150;
    padding-top: 26px;
}
.count{
    font: 14px 'Open Sans';
    font-weight: bold;
    color: #b90101;
    background: url(../images/hand-down.png) no-repeat left;
    padding: 0 0 0 26px;
}
label{
    display: inline-block;
    font-weight: normal;
    margin-bottom: 3px;
    font-size:13px;
}
input[type="radio"] {
    display:none;
}
input[type="radio"] + span {
    display:inline-block;
    width:13px;
    height:13px;
    margin:-1px 9px 0 0;
    vertical-align:middle;
    background:url(../images/radio-spred.png) left top no-repeat;
    cursor:pointer;
}
input[type="radio"]:checked + span {
    background:url(../images/radio-spred.png) left bottom no-repeat;
}
.methods{
    margin: 20px 0 23px 30px;
    color:#000000;
    font-size:13px;
}
.methods .percentage {
    float:left;
    width: 45px;
    color: #B90101;
}
.methods label{
    padding: 0 0 0 3px;
}
.pers{
    color:#b90101;
}
.social-btn{
    width:32px;
    height: 32px;
    display: inline-block;
    margin: 0 0 0 10px;
}
.social-btn.fb{
    background:url(../images/fb-btn.png) left bottom no-repeat;
}
.social-btn.vk{
    background:url(../images/vk-btn.png) left bottom no-repeat;
}
.share-block{
    font: bold 18px 'Open Sans';
    color:#4a66a1;
    vertical-align: top;
    display: inline-block;
    line-height: 32px;
}
.share-block div{
    float: left;
}
.btm-block{
    /*position: absolute;
    bottom:0;*/
    width: 100%;
}
.candidate-view .btm-block{
    position: static;
}
.candidate-view .methods{
    margin: 20px 0 23px 0;
}
.lustruu.disabled{
    cursor: default;
}
.lustruu.disabled:hover{
    cursor: default;
    color: #FFFFFF;
    background: #D96565;
    text-decoration: none !important;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.candidate-text{
    margin: 15px 0 0 0;
}
.b-share__text {
    font-size: 12px;
}
.about {
    font-size: 13px;
}
.about p {
    line-height: auto;
}
.candidate-page{
    background: #ffffff;
    margin: 48px 0 20px 0;
    padding-top: 10px;
}
.candidate-page figure{
    margin: 0 0 20px 0;
    width: 250px;
    text-align: center;
}
.candidate-page figure .count-round{
    right: 26px;
    top: 30px;
    text-align: center;
}
.candidate-page figure .count{
    margin: 17px auto 0 auto;
    display: inline-block;
}
.candidate-text{
    margin: 26px 0 0 0;
}
.candidate-page h3{
    font-size: 24px;
    font-weight: bold;
    text-transform: none;
    margin: 0;
}
a.link{
    color: #B90101;
}
a.link:hover{
    text-decoration: underline;
}
.soc-over{
    float:left;
    margin: 0;
    width: 95px;
}
.text-block{
    margin: 20px 0 0 0;
}
.services .auth-services .auth-service .auth-link{
    width: auto;
}
.block-over{
    height:424px;
    overflow: hidden;
}
.lustratiion-result{
    margin-bottom: 62px;
}
#about-project p{
    font: 300 14px 'Open Sans',"Helvetica Neue",Helvetica,sans-serif;
/*    line-height: normal;*/
}
.rating .col-lg-4, .rating .col-lg-6{
    margin: 0;
    padding: 0;
}
.thumbnail h2{
    font-size: 24px;
    text-transform:none;
}
.bar{
    height: 8px;
}
.rating{
    font-size: 13px;
    margin: 15px 0 20px;
    text-transform: uppercase;
}
.white-link{
    display: inline-block;
    background: #f1f4f5;
    color:#a5a5a5;
    font-size:18px;
    line-height: 39px;
    width: 209px;
    height: 39px;
    font-weight: bold;
    text-align: center;
}
.parties .thumb-pad1{
    padding: 17px 6px 17px;
}
.rating .rate{
    margin: 5px 0 0 0;
    padding: 0;
    height: 8px;
    background: #f1f4f5;
}
.red .bar{
    height: 8px;
    background: #c34242;
}
.rating.red{
    color: #b90101;
}
.black .bar{
    padding: 0 0 0 10px;
    background: #000000;
    color: #ffffff;
}
.text-black-bkg{
    padding: 0 0 0 10px;
    color: #000000;
    position:absolute;
    z-index: 1;
    top:0;
/*    margin: -28px 0 0;*/
}
.rate{
    position: relative;
}
.rating.black .rate, .black .bar{
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    position: relative;
    z-index: 100;
}
.bar-title{
    width:400px;
}
.rating.black .rate{
    margin: 0;
}
.rating.black{
    font-size: 14px;
    font-weight: bold;
}
.small-img{
    margin: 10px 0 0 10px;
    max-height:35px;
}
.modal-dialog {
    margin: 300px auto;
    width: 600px;
}
.modal-body .services, .modal-body .auth-services{
    overflow: hidden;
}
.dropdown-menu li{
    float: none;
}
.dropdown-menu > li > a{
    display: inline;
}
.error-page{
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 48px 0 20px;
    padding: 10px 20px 20px;
}
.head_list .dropdown-menu{
    max-height: 500px;
    overflow-y: scroll;
}